name: Changelog Release Notification

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Environment'
        required: true
        type: choice
        options:
          - production
          - dev
        default: 'dev'
      release_title:
        description: 'Title'
        required: true
        default: 'Team Creation'
      release_summary:
        description: 'Release Summary'
        required: true
        default: 'Major platform stability and performance improvements.'
      release_image_url:
        description: 'Release Preview (Image / Gif)'
        required: true
        default: 'https//example.com/image-preview.webp'
      tag:
        description: 'Release Category'
        required: true
        type: choice
        options:
          - Feature


jobs:
  notify_backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install --prefix .github/scripts

      - name: Execute Release Notification Script
        run: node .github/scripts/notify-backend.js
        env:
          ENVIRONMENT: ${{ github.event.inputs.environment }}
          RELEASE_SUMMARY: ${{ github.event.inputs.release_summary }}
          RELEASE_TITLE: ${{ github.event.inputs.release_title }}
          RELEASE_IMAGE_URL: ${{ github.event.inputs.release_image_url }}
          SECTION_ID: ${{ github.event.inputs.section_id }}
          VERSION_TAG: ${{ github.event.inputs.tag }}
          BACKEND_API_SECRET: ${{ secrets.CHANGELOG_API_SECRET }}
