name: Changelog Release Notification

on:
  workflow_dispatch:
    inputs:
      environment:
        description: 'Select the environment'
        required: true
        type: choice
        options:
          - production
          - dev
        default: 'dev'
      release_summary:
        description: 'The final, short description of the release to be sent to the API.'
        required: true
        default: 'Major platform stability and performance improvements.'
      release_title:
        description: 'The title, short headline of the release to be sent to the API.'
        required: true
        default: 'Title.'
      release_image_url:
        description: 'The image url, short url of the release to be sent to the API.'
        required: true
        default: 'https//'
      section_id:
        description: 'The unique identifier of the changelog section pointing to that weeks updates'
        required: true
        default: 'week-of-october-21-27,-2025'
      tag:
        description: 'The tag (e.g., Feature, Fix) associated with this release.'
        required: true
        default: 'Feature'
    
      
jobs:
  notify_backend:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install --prefix .github/scripts

      - name: Execute Release Notification Script
        run: node .github/scripts/notify-backend.js
        env:
          ENVIRONMENT: ${{ github.event.inputs.environment }}
          RELEASE_SUMMARY: ${{ github.event.inputs.release_summary }}
          RELEASE_TITLE: ${{ github.event.inputs.release_title }}
          RELEASE_IMAGE_URL: ${{ github.event.inputs.release_image_url }}
          SECTION_ID: ${{ github.event.inputs.section_id }}
          VERSION_TAG: ${{ github.event.inputs.tag }}
          BACKEND_API_SECRET: ${{ secrets.CHANGELOG_API_SECRET }}